## PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=localhost
POSTGRES_PORT=
PORT=8000
NODE_ENV=development

## MongoDB
MONGO_URI=
MONGO_DB=

## Opcional - para conexão da aplicação
DATABASE_URL=

ADMIN_USER_ID=<UUID here>