# dependencies
node_modules/

# env
.env
.env.db
.env.local
.env.*.local
.env.pgadmin
.env.pgadmin.local
.env.production

# postgres local files
.postgres/

# logs
logs/
*.log

# coverage
coverage/

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Others
vanilla_jest.config.mjs
.claude